<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="historical">
            <h2><span jhiTranslate="gatewayApp.historicalHistorical.detail.title">Historical</span> {{ historical.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.historicalHistorical.userId">User Id</span></dt>
                <dd>
                    <span>{{ historical.userId }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.historicalHistorical.correlationId">Correlation Id</span></dt>
                <dd>
                    <span>{{ historical.correlationId }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.historicalHistorical.actionId">Action Id</span></dt>
                <dd>
                    <span>{{ historical.actionId }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.historicalHistorical.actionDescription">Action Description</span></dt>
                <dd>
                    <span>{{ historical.actionDescription }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.historicalHistorical.actionDate">Action Date</span></dt>
                <dd>
                    <span>{{ historical.actionDate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/historical', historical.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
